{% extends 'homebase.html' %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shorcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}

{% block herosection %}
    {% include 'herosection.html' %}
{% endblock %}

{% block categoryslider %}
{#    {% include 'categoryslider.html' %}#}
{% endblock %}


{% block body %}
    {% include 'content.html' %}
{% endblock %}
