{% extends 'homebase.html' %}
{% load static %}
{% block title %} Kullanıcı Sipariş Detayı  {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shorcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumbb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Kullanıcı Sipariş Detayı</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Anasayfa&nbsp;&nbsp; </a>
                            <span>Kullanıcı Sipariş Detayı</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">

                            <h4>Kullanıcı Menusu</h4>
                            {% include "user_panel.html" %}
                        </div>
                        <div class="sidebar__item">
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">

                        <div class="section-title product__discount__title">
                            <h2>Sıparıs Bılgısı</h2>

                        </div>
                        <div class="row">
                            <table>
                                <tr>
                                    <td style="font-weight: bold" class="text-left">İsim Soyisim:</td>
                                    <td class="text-left">

                                        {{ order.first_name }} {{ order.last_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold" class="text-left">Telefon No:</td>
                                    <td class="text-left">
                                        {{ order.phone }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold" class="text-left">Adres:</td>
                                    <td class="text-left">
                                        {{ order.address }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold" class="text-left">Şehir:</td>
                                    <td class="text-left">
                                        {{ order.city }}
                                    </td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold" class="text-left">Tarih:</td>
                                    <td class="text-left">
                                        {{ order.created_at }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold" class="text-left">Bilgilendirme Notu:</td>
                                    <td class="text-left">
                                        {{ order.adminnote }}
                                    </td>
                                </tr>
                                <tr style="font-size: 24px">
                                    <td style="font-weight: bold" class="text-left"><strong>Durum:</strong></td>
                                    <td class="text-left">
                                        <strong>{{ order.status }}</strong>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sıparıs Detayı</h2>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="shoping__cart__table">
                                            <table>
                                                <tr>
                                                    <th class="text-left">ID</th>
                                                    <th class="text-center">-</th>
                                                    <th class="text-left">Kitap İsmi</th>
                                                    <th class="text-left">Fiyat</th>
                                                    <th class="text-left">Miktar</th>
                                                    <th class="text-left">Toplam Tutar</th>
                                                    <th class="text-left">Durum</th>
                                                    <th class="text-left">Tarih</th>
                                                </tr>

                                                {% for rs in order_items %}
                                                    <tr>
                                                        <td class="text-left">{{ rs.id }}</td>
                                                        <td class="text-left">
                                                            <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">
                                                                <img src="{{ rs.product.image.url }}" height="64px">
                                                            </a>
                                                        </td>
                                                        <td class="text-left">{{ rs.product.title }}</td>
                                                        <td class="text-left">{{ rs.product.price|floatformat:2 }}
                                                            &#8378;
                                                        </td>
                                                        <td class="text-left">{{ rs.quantity }}</td>
                                                        <td class="text-left">{{ rs.amount |floatformat:2 }} &#8378;
                                                        </td>
                                                        <td class="text-left">{{ rs.status }}</td>
                                                        <td class="text-left">{{ rs.created_at }}</td>

                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->





{% endblock %}


{% block body %}

{% endblock %}
