{% extends 'homebase.html' %}
{% load static %}
{% block title %} Kullanıcı Paneli -  {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="shorcut icon" type="image/x-icon" href="{{ setting.icon.url }}"/>
{% endblock %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumbb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Kullanıcı Paneli</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Anasayfa&nbsp;&nbsp; </a>
                            <span>Kullanıcı Paneli</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">

                            <h4>USER PANEL</h4>
                            {% include "user_panel.html" %}
                        </div>
                        <div class="sidebar__item">
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>İLETİŞİM BİLGİLERİNİZ</h2>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="shoping__cart__table">
                                            <table>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">
                                                        <button style="margin-right: 30px" type="button"
                                                                class="btn btn-secondary btn-lg">
                                                            <a href="/user/update" style="color: white"> Bilgileri
                                                                Güncelle </a>
                                                        </button>
                                                        <button type="button" class="btn btn-secondary btn-lg">
                                                            <a href="/user/password" style="color: white"> Şifreyi
                                                                Değiştir </a>
                                                        </button>

                                                    </td>
                                                    <td class="text-left">
                                                        <img src="{{ profile.image.url }}" height="100" alt="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">İsim Soyisim:</td>
                                                    <td class="text-left">
                                                        {{ profile.user_name }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">Email:</td>
                                                    <td class="text-left">
                                                        {{ profile.user.email }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">Telefon No:</td>
                                                    <td class="text-left">
                                                        {{ profile.phone }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">Adres:</td>
                                                    <td class="text-left">
                                                        {{ profile.address }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">Şehir:</td>
                                                    <td class="text-left">
                                                        {{ profile.city }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold" class="text-left">Ülke:</td>
                                                    <td class="text-left">
                                                        {{ profile.country }}
                                                    </td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->





{% endblock %}


{% block body %}

{% endblock %}
